################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AKSS/FileContentIndex
/.gitignore
/.gitignore
